<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="form-title">Shorten Your URL</h1>
        <% if (typeof message !=='undefined' && message) { %>
            <div id="info-alert" class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <form id="urlForm" onsubmit="handleFormSubmit(event)">
                    <div class="form-group">
                        <label for="longUrl" class="form-label">Enter URL to shorten:</label>
                        <input type="url" id="longUrl" class="form-control" placeholder="Enter a valid URL" required>
                        <button type="submit" id="submit-button" class="btn">Shorten URL</button>
                    </div>
                </form>

                <div id="resultContainer" class="mt-5">
                    <!-- The response from the backend will be displayed here -->
                </div>
    </div>

    <script>
        // Function to handle form submission
        async function handleFormSubmit(event) {
            submitButton = document.getElementById('submit-button');
            infoAlert = document.getElementById('info-alert');
            if (infoAlert) infoAlert.remove();
            event.preventDefault();

            const longUrl = document.getElementById('longUrl').value;

            // Check if the URL is not empty
            if (!longUrl) {
                alert("Please enter a URL");
                return;
            }

            // Set button to loading state
            submitButton.disabled = true;
            submitButton.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Shortening...`;

            try {
                const response = await fetch('/web/api/v1/url/shorten', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ longUrl }),
                });

                const result = await response.json();
                if (response.ok) {
                    // Display the response dynamically
                    const message = result.message;
                    const data = result.data;
                    const resultContainer = document.getElementById('resultContainer');
                    resultContainer.innerHTML = `
            <div class="alert alert-success">
            <h2>${message}</h2>
            <p><strong>Short URL:</strong> <a href="/${data.shortId}" target="_blank">${data.shortUrl}</a></p>
            <p><strong>Long URL:</strong> ${data.longUrl}</p>
            <p><strong>Created At:</strong> ${new Date(data.createdAt).toLocaleString()}</p>
            <p><strong>Clicks:</strong> ${data.clicks}</p>
            </div>
        `;
                } else {
                    alert(result.error);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Something went wrong!');
            }
            // Reset button to original state
            submitButton.disabled = false;
            submitButton.innerHTML = 'Shorten URL';
        }
    </script>
</body>

</html>